@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #085078;
    --background: 214 99.35% 98.5%;
    --foreground: 214 8.7% 1%;

    --muted: 214 8.7% 92.5%;
    --muted-foreground: 214 4.35% 42.5%;

    --popover: 214 20.400000000000006% 92.5%;
    --popover-foreground: 214 8.7% 1.25%;

    --card: 214 20.400000000000006% 92.5%;
    --card-foreground: 214 8.7% 1.25%;

    --border: 214 13.7% 90%;
    --input: 214 13.7% 90%;

    --primary: 214 87% 25%;
    --primary-foreground: 214 1.74% 92.5%;

    --secondary: 214 4.35% 96.25%;
    --secondary-foreground: 214 6.22% 12.5%;

    --accent: 214 4.35% 96.25%;
    --accent-foreground: 214 6.22% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 214 87% 25%;

    --radius: 0.5rem;
  }
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #00c6fb;

    --background: 205 65% 3.92%;
    --foreground: 205 10% 97.45%;

    --muted: 205 50% 14.7%;
    --muted-foreground: 205 10% 54.9%;

    --popover: 205 45% 6.37%;
    --popover-foreground: 205 10% 97.45%;

    --card: 205 45% 6.37%;
    --card-foreground: 205 10% 97.45%;

    --border: 205 50% 14.7%;
    --input: 205 50% 14.7%;

    --primary: 205 100% 49%;
    --primary-foreground: 205 10% 4.9%;

    --secondary: 205 50% 14.7%;
    --secondary-foreground: 205 10% 97.45%;

    --accent: 205 50% 14.7%;
    --accent-foreground: 205 10% 97.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 205 10% 97.45%;

    --ring: 205 100% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
